// @todo move to separate file
$z-index: (
  modal: 10,
  notification: 1000,
  loader: 1001
);

$breakpoints: (
  small: 480px,
  large: 800px
);

// You can use and valid arguments inserted into mappy-bp as the map values. Any of the following would do
$mappy-queries: (
  phone: mappy-bp(h max-height small),
  tablet: mappy-bp(small large),
  desktop: mappy-bp(960px 1200px),
  change-type: mappy-bp(small, $type: screen)
);
