// Base
@import 'variables/variables';
@import 'helpers/mixins';
@import 'helpers/functions';
@import 'base/base';
@import 'base/global_vars';
@import 'base/text';
@import 'base/color';

// Layout
@import 'layout/layout';

// Components
@import 'components/buttons';

// Utilities
@import 'utilities/utilities';
@import 'utilities/visibility';

// Animations
@import 'animations/animations';
@import 'animations/transitions';

html {
  font-size: $root-font-size;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
  max-width: 1200px;
}
