// Default theme variables
// =======================

// Sizes
$root-font-size: 14px;

// Heading Fonts
$heading-font: 'Muli', sans-serif;

// Body Fonts
$body-font: 'Montserrat', sans-serif;

$serif-font: 'Merriweather', serif;
$sans-font: $body-font;

// Body Font

// Colors
@import 'colors';
